:root {
  --bg-color: #15181e;
  --font-base: aliceblue;
  --code-base: fuchsia;
  --callout: lime;
  --pre-base: #303235;
}
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--font-base);
}

section {
  padding: 1.2em 0 0 0;
}

code {
  color: var(--code-base);
}

.callout {
  color: var(--callout);
}
.btn {
  float: left;
  margin: 0 5px;
}
.lane {
  height: 65px;
  clear: both;
  border-bottom: 2px solid #fff;
  margin-bottom: 4px;
}
.marble {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: -webkit-radial-gradient(15px 15px, circle, #888, #000);
  background: -moz-radial-gradient(15px 15px, circle, #ccc, #000);
  background: radial-gradient(15px 15px, circle, #aaa, #000);
  /* Animation to spin and move the sphere */
  -webkit-animation: spin 2000ms linear infinite,
    moveLeftToRight 15s linear infinite;
  -moz-animation: spin 2000ms linear infinite,
    moveLeftToRight 15s linear infinite;
  -ms-animation: spin 2000ms linear infinite,
    moveLeftToRight 15s linear infinite;
  animation: spin 2000ms linear infinite, moveLeftToRight 25s linear infinite;

  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 2px solid #000;

  position: relative;
  left: 0;
  top: 0;
  float: left;
}

.marble p {
  margin: auto;
  top: 5px;
  left: 14px;
  font-size: 20px;
  color: #fff;
  position: absolute;
}
.result {
  height: 60px;
  clear: both;
  border-top: 5px double #ccc;
}

/* Spinning the sphere using key frames */
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Move sphere from left to right */
@-moz-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@-ms-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
